<div class="d-flex justify-content-center m-5">
  <div class="col-md-6">
    <div class="card border-0">
      <div class="card-header">
        <h1 class="text-center">{{title}}</h1>
      </div>
      <div class="card-body d-flex flex-column align-items-center">
        <div class="w-100 d-flex justify-content-between align-items-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="selectAll" (change)="selectAllTasks()">
            <label class="form-check-label">Selecionar todas as tarefas</label>
          </div>
          <button type="button" class="btn btn-light btn-sm" (click)="removeSelectedTasks()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
        <form (submit)="addTask()" class="w-100 mt-3">
          <div class="form-group">
            <label for="newTask">Adicionar Tarefa:</label>
            <div class="input-group py-2">
              <input [(ngModel)]="newTask" placeholder="Nova tarefa..." maxlength="20" name="first"
                class="form-control">
              <button type="submit" (click)="addTask()" class="btn btn-primary"
                [disabled]="tasks.length >= tasksMaxLength">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="form-check pb-2">
        </div>
        <ul class="list-group w-100" id="tasks-list">
          <li class="list-group-item word-wrap-break" *ngFor="let task of tasks; let i = index"
            [ngClass]="{'completed': task.completed}" data-id="{{task.id}}">
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check" *ngIf="!task.editionMode">
                <input class="form-check-input" type="checkbox" [(ngModel)]="task.completed" (change)="checkSelects()">
                <label class="form-check-label px-2 drag-handle">{{ task.description }}</label>
              </div>
              <div class="input-group py-2" *ngIf="task.editionMode">
                <input placeholder="Nova descrição..." maxlength="20" name="first" [value]="task.description"
                  class="form-control" #taskInput>
                <button type="submit" (click)="cancelEdition(i)" class="btn btn-danger mr-1">
                  <i class="fa-solid fa-ban"></i>
                </button>
                <button type="submit" (click)="editTaskDescription(taskInput.value, i)" class="btn btn-primary">
                  <i class="fa-solid fa-check"></i>
                </button>
              </div>
              <div class="d-flex" *ngIf="!task.editionMode">
                <div *ngIf="!isMobile">
                <button class="btn btn-light btn-sm py-2" (click)="enableEdition(i)">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button type="button" class="btn btn-light py-2 btn-sm remove-and-drag mx-2" (click)="removeTask(i)">
                  <i class="fa-solid fa-trash"></i>
                </button>
                </div>
                <div ngbDropdown *ngIf="isMobile" class="mx-2 custom-dropdown">
                  <button class="btn btn-light btn-sm" id="dropdownButton" ngbDropdownToggle><i class="fa-solid fa-ellipsis-vertical"></i></button>
                  <div class="dropdown-menu" aria-labelledby="dropdownButton" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="enableEdition(i)">Editar</button>
                    <button class="dropdown-item" (click)="removeTask(i)">Remover</button>
                  </div>
                </div>
                <button class="btn btn-light btn-sm drag-handle mx-0">&#9776;</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>